<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Common Links -->
  <th:block th:insert="~{fragments/main :: headlinks}" />

  <!-- Page Specific -->
  <title>Error | eRadios.in - Indian Online Radio Streaming</title>
</head>

<body>
  <!-- Loader Overlay -->
  <div th:replace="~{fragments/main :: pageloader}"></div>

  <!-- Navigation Bar -->
  <div th:replace="~{fragments/main :: navbar}"></div>

  <!-- Main Content -->
  <section class="my-4">
    <div class="container py-5">
      <div class="d-flex flex-column align-items-center py-5 bg-white rounded">
        <div>
          <h1 class="h1 text-danger display-1">oops!</h1></div>
        <p class="text-muted my-3">You caught us. We will fix it quick.</p>
        <button class="btn btn-warning me-2" onclick="history.back()">Go Back</button>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <div th:replace="~{fragments/main :: footer}"></div>
  <!-- Footer Scripts-->
  <div th:replace="~{fragments/main :: footerScripts}"></div>
</body>

</html>